/* Alina Elena Aldea-Ionescu - 310194
Joffrey Schneider - 762380 */

body {
  margin: 0;
  padding: 0;
  background: url(/img/bg1.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.loginbox {
  width: 320px;
  height: 400px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px;
}

#pic {
  text-align: center;
}
.avatar {
  width: 140px;
  height: 130px;
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#quote {
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.loginbox input {
  width: 100%;
  margin-bottom: 30px;
}

.loginbox input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #5a46b4;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #61c6d8;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 12;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #ffc107;
}
